.navbar {
    background-image: linear-gradient(to right, rgb(153, 0, 255), rgb(76, 232, 243), rgb(38, 0, 128));
}

body {
    margin-top: 150px;
    position: relative;
}

#cont_session {
    margin-bottom: 100px;
}

#form-div {
    padding: 50px;
    border: solid 1px rgba(168, 168, 168, 0.39);
}

#form-div h3 {
    padding-left: 13px;
}

.meetboxtitle {
    text-align: center;
    padding-top: 20px;
}

.meetboxhr {
    margin-left: 15px;
    margin-right: 15px;
    height: 1.5px;
    background-image: linear-gradient(to right, rgb(153, 0, 255), rgb(76, 232, 243), rgb(38, 0, 128));
}

.meetbox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.431);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    border: solid 1px rgba(168, 168, 168, 0.39);
}

.meetings {
    background: #ffffff;
    margin: 3%;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}

.meetings:hover {
    box-shadow: 0 0 10px #00C3D6;
}

.meetingdetails {
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    font-weight: 500;
    font-size: 15px;
}

.meetperson {
    margin-top: 2%;
    color: rgb(100, 100, 100);
}

.meettime,
.meetdate {
    margin-left: 8%;
    color: rgb(100, 100, 100);
}

.joinmeet {
    display: inline;
    width: 26%;
    height: 30px;
    margin-bottom: 3%;
    margin-left: 71%;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #07df00;
    overflow: hidden;
    margin-top: -1%;
}

.meettime {
    display: inline;
}

.joinmeet:hover {
    border: 2px solid #07df00;
}

#videoicon {
    margin-left: 10px;
    color: #07df00;
}

#scrollstyle::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 8px;
}


/* Handle */

#scrollstyle::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, rgb(153, 0, 255), rgb(76, 232, 243), rgb(38, 0, 128));
    border-radius: 20px;
}


/* Handle on hover */

#scrollstyle::-webkit-scrollbar-thumb:hover {
    background: #00C3D6;
    cursor: pointer;
}

.foot-container {
    margin-left: 50px;
    margin-right: 50px;
}