@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
.navbar {
    font-size: 18px;
    background-color: #00000057;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Open Sans', sans-serif;
}

.navbar.scrolled {
    background-image: linear-gradient(145deg, #00b4c6 0%, #0088e8 100%);
}

#a_tag_book {
    cursor: pointer;
}

#logo {
    position: relative;
    height: 40px;
}

.navbar-nav {
    padding: none;
}

#nav_contents>li {
    margin-right: 15px;
}

#nav_contents>li>a {
    color: white;
}

.navbar-nav .btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-right: 10px;
}

.navbar-nav .btn:hover,
.nav-link:hover,
.signup_btn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.2s ease 0s;
}

.navbar-nav .btn:focus {
    box-shadow: none;
}

.signup_btn {
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
    transition: all 0.4s;
    cursor: pointer;
    margin: -5px;
}

.signup_btn:hover {
    color: #ffffff;
    border-color: #ffffff;
}

.signup_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    padding: 1px;
    padding-top: 2px;
    margin: 5px;
}

.signup_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 2px;
    right: -20px;
    transition: 0.5s;
}

.signup_btn:hover span {
    padding-right: 25px;
}

.signup_btn:hover span:after {
    opacity: 1;
    right: 0;
}

@media(max-width: 786px) {
    #logins>li {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 2px;
    }
    #nav_contents>li {
        margin-left: 7px;
    }
    .signin_btn {
        float: left;
        margin-left: -8.5px;
    }
}


/****************** styling for modal from line 70-172 **********************/


/* The Close Button (x) */

.close {
    position: relative;
    align-self: flex-end;
    margin-top: -3px;
    margin-right: 2px;
    font-size: 40px;
    padding: 0;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


/* Full-width input fields */

.modalinputs {
    color: #000000;
    width: 100%;
    padding: 13px;
    margin: 3px 0 22px 0;
    display: inline-block;
    border: 1px;
    background-color: rgba(138, 138, 138, 0.1);
    border-radius: 15px;
}


/* Add a background color when the inputs get focus */

.modalinputs:focus {
    outline-color: #007bff;
}

.modalinputs::placeholder {
    color: rgba(0, 0, 0, 0.397);
}

#signmodalfooter {
    color: #007bff;
    margin-left: -5px;
    margin-right: 23%;
}

#signmodalfooter:hover {
    text-decoration: underline;
    border-color: transparent;
}

.site-footer {
    background-image: linear-gradient(145deg, #00b4c6 0%, #0088e8 100%);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.site-footer p {
    color: white;
}

.site-footer hr {
    border-top-color: rgb(255, 255, 255);
    opacity: 0.5;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.site-footer a {
    color: #ffffff;
}

.site-footer a:hover {
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    transition: all 0.2s ease 0s;
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: white
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    color: #3b5998
}

.social-icons a.twitter:hover {
    color: #00aced
}

.social-icons a.linkedin:hover {
    color: #007bb6
}

.social-icons a.dribbble:hover {
    color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}