/*header h1{
    /*color: #6a6a6bfc
    color: #180c5f
}*/

.navbar {
    background-image: linear-gradient(145deg, #ffafbd 0%, #ffc3a0 100%);
}

body {
    margin-top: 130px;
}

.badge-primary {
    color: #fff;
    background-color: #ffb13aeb;
}

.card-title {
    color: #180c5f
}