/*

ART FACTORY

https://templatemo.com/tm-537-art-factory

*/


/* 
---------------------------------------------
Table of contents
---------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. welcome
06. features
07. team
08. pricing
09. blog
10. contact
11. footer
12. preloader

--------------------------------------------- 
*/


/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
    display: block;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 15px;
    line-height: 25px;
    color: #4a4a4a;
}


/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/

html,
body {
    background: #fff;
    font-family: "Roboto", sans-serif;
}

::selection {
    background: #ff589e;
    color: #fff;
}

::-moz-selection {
    background: #ff589e;
    color: #fff;
}

@media (max-width: 991px) {
    html,
    body {
        overflow-x: hidden;
    }
    .mobile-top-fix {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .mobile-bottom-fix {
        margin-bottom: 30px;
    }
    .mobile-bottom-fix-big {
        margin-bottom: 60px;
    }
}

.section-heading h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    color: #232323;
    margin-bottom: 20px;
}

.section-heading p {
    font-size: 17px;
    color: #777;
    text-align: center;
}

a.main-button-slider {
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #f55858;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
    background-color: #0088e8;
}

a.main-button {
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #00b4c6;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a.main-button:hover {
    background-color: #0088e8;
}

button.main-button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #f55858;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

button.main-button:hover {
    background-color: #0088e8;
}


/* 
---------------------------------------------
welcome
--------------------------------------------- 
*/

#about-us {
    height: 600px;
    padding: 60px;
}

.about-title {
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

.about-title>h2:after {
    content: "";
    display: block;
    background-image: linear-gradient(145deg, #00b4c6 0%, #0088e8 100%);
    width: 70px;
    height: 3px;
    margin: 10px auto 30px;
}

#welcome {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/banner-bg.png);
    background-repeat: no-repeat;
    /*
TRY IT ... with or without CENTER CENTER
  background-position: center center; 
*/
    background-size: cover;
    width: 100%;
    height: 105vh;
    margin-top: -10vh;
}

.welcome-area .header-text {
    position: absolute;
    top: 55%;
    transform: translateY(-60%);
    text-align: left;
    width: 100%;
}

.welcome-area .header-text .left-text {
    align-self: center;
}

.welcome-area .header-text h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    color: #fff;
}

.welcome-area .header-text p {
    font-weight: 300;
    font-size: 17px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
    position: relative;
}

@media (max-width: 991px) {
    .welcome-area .header-text {
        top: 55% !important;
        transform: perspective(1px) translateY(-60%) !important;
    }
    .welcome-area .header-text h1 {
        font-size: 36px;
        line-height: 50px;
        color: #fff;
        margin-bottom: 15px;
    }
    .welcome-area .header-text h1 span {
        color: #fff;
    }
    .welcome-area .header-text p {
        color: #fff;
        margin-bottom: 30px;
    }
}

@media (max-width: 820px) {
    .welcome-area .header-text {
        top: 55% !important;
        transform: perspective(1px) translateY(-60%) !important;
    }
    .welcome-area .header-text h1 {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 15px;
    }
    .welcome-area .header-text p {
        margin-bottom: 30px;
    }
}

@media (max-width: 765px) {
    .welcome-area {
        margin-bottom: 100px;
    }
    .welcome-area .header-text {
        top: 55% !important;
        transform: perspective(1px) translateY(-50%) !important;
        text-align: center;
    }
    .welcome-area .header-text .buttons {
        display: none;
    }
    .welcome-area .header-text h1 {
        font-weight: 600;
        font-size: 24px !important;
        line-height: 30px !important;
        margin-bottom: 20px !important;
    }
    .welcome-area .header-text h1 span {
        color: #fff;
    }
    .welcome-area .header-text p {
        text-align: center;
        color: #fff;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 40px;
    }
    .welcome-area .header-text img {
        width: 80%;
        margin-top: 20px;
    }
}


/*
---------------------------------------------
about
---------------------------------------------
*/

#stories,
#therapy {
    padding: 120px 0px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 765px) {
    #about {
        padding: 20px 0px 120px 0px;
    }
}

#stories .right-text,
#therapy .right-text {
    align-self: center;
}

#stories .right-text p,
#therapy.right-text p {
    margin-bottom: 40px;
}

#about2 {
    padding: 120px 0px;
}

#about2 .right-image {
    align-self: center;
}

#stories h5,
#therapy h5,
#about2 h5 {
    font-size: 26px;
    font-weight: 700;
    color: #1e1e1e;
    line-height: 40px;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
}

#stories p,
#therapy p,
#about2 p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

#about2 ul li img {
    display: inline;
    float: left;
}

#about2 ul li .text {
    margin-left: 80px;
}

#about2 ul li .text h6 {
    padding-top: 12px;
    font-size: 21px;
    font-weight: 500;
    color: #1e1e1e;
    margin-bottom: 20px;
}


/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/

#preloader {
    overflow: hidden;
    background-image: linear-gradient(145deg, #00b4c6 0%, #0088e8 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    color: #fff;
}

#preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
}

#preloader .jumper>div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
}

#preloader .jumper>div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
}

#preloader .jumper>div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.site-footer {
    background-image: linear-gradient(145deg, #00b4c6 0%, #0088e8 100%);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif bold;
}

.site-footer p {
    color: white;
}

.site-footer hr {
    border-top-color: rgb(255, 255, 255);
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.site-footer a {
    color: #ffffff;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #ffffff
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: white
}

.copyright-text a {
    margin-left: 5px;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    color: #3b5998
}

.social-icons a.twitter:hover {
    color: #00aced
}

.social-icons a.linkedin:hover {
    color: #007bb6
}

.social-icons a.dribbble:hover {
    color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}