@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
.navbar {
    font-size: 18px;
    background-image: linear-gradient(145deg, #00b4c6 30%, #C8FAFF 115%);
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Open Sans', sans-serif;
}

#nav_contents>li {
    margin-right: 15px;
}
 
#nav_contents>li>a {
    color: white;
}
 
.navbar-nav .btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-right: 10px;
}
 
.navbar-nav .btn:hover,
.nav-link:hover,
.signup_btn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.2s ease 0s;
}
 
.navbar-nav .btn:focus {
    box-shadow: none;
}
 
/*.signup_btn {
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
    transition: all 0.4s;
    cursor: pointer;
    margin: -5px;
}
 
.signup_btn:hover {
    color: #ffffff;
    border-color: #ffffff;
}
 
.signup_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    padding: 1px;
    padding-top: 2px;
    margin: 5px;
}
 
.signup_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 2px;
    right: -20px;
    transition: 0.5s;
}
 
.signup_btn:hover span {
    padding-right: 25px;
}
 
.signup_btn:hover span:after {
    opacity: 1;
    right: 0;
}
 */
/*@media(max-width: 786px) {
    #logins>li {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 2px;
    }
    #nav_contents>li {
        margin-left: 7px;
    }

  */  
body{
	height: 100vh;
	width:100vw;
	background-color: black;
}

#backimg{
	position:fixed;
	background-image:url('../images/storiesbackground.jpg');
	background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width:100%;
    height: 100%;
    opacity:0.5;
}

.container{

	width:90%;
	height:80%;
	position:absolute;
    margin-top:7%;
    margin-left:13.5%;
}

.tablediv{
	width:100%;
	height:90%;
	border-radius: 30px;
}

.actualtable{
	color:white;
	width:100%;
	height:100%;
	border-spacing: 5px;
	border-collapse: separate;
}

.profiledata{
    width:20%;
}

.storydata,.profiledata{
	background:rgba(0,0,0,0.45);
	/*border: solid black 2px;*/
	text-align:center;
	color:white;
    /*height:250px;*/
    position:relative;
}

th{
	background:rgba(0,0,0,0.45);
	text-align:left;
	padding-left: 1%;
	font-weight: normal;
	font-size: 30px;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	text-shadow: 0 0 5px #C8FAFF;
	/*font-style: italic;*/
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0px,0 0 10px #C8FAFF, 0 0 15px #C8FAFF;
  }
  to {
    text-shadow: 0 0 10px,0 0 20px #C8FAFF, 0 0 25px #C8FAFF;
  }
}

td:hover{
	background-color:rgba(0,0,0,0.75);
}

tbody tr
{
    height:20vh;
}

.storytext p:hover, i:hover{
	cursor:pointer;

}
.commenticon{
    position: absolute;
    width:5%;
    height:5%;
    margin-left:85%;
    margin-top:-3%;
   /* display:inline-block;*/
   float:left;
}

.likeicon{
    position: absolute;
    width:5%;
    height:5%;
    margin-left:91%;
      margin-top:-3%;
    /*display:inline-block;*/
    float:left;
}

.storytext{
	height:70%;
 /*   position: absolute;*/
}

p{
    /*position:absolute;*/
    margin-left:10%;
    margin-right:20%;
    margin-top: 2%;
}

i{
    font-size: 25px;
    color:#C8FAFF;
}
