.navbar-nav {
    margin-right: 50px;
    font-size: 18px;
}

#nav_contents>li {
    margin-right: 15px;
}

.navbar-nav>li>button {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-nav .btn {
    color: black;
    font-size: 18px;
}

.btn:hover {
    border-color: grey;
}

.signup_btn {
    color: #007bff;
    font-size: 18px;
    padding: 5px;
    transition: all 0.4s;
    cursor: pointer;
    margin: -5px;
}

.signup_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    padding: 1px;
    padding-top: 2px;
    margin: 5px;
}

.signup_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.signup_btn:hover span {
    padding-right: 25px;
}

.signup_btn:hover span:after {
    opacity: 1;
    right: 0;
}

@media(max-width: 786px) {
    #logins>li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #nav_contents>li {
        margin-left: 7px;
    }
    .signup_btn {
        float: left;
        margin-left: 2.8px;
    }
}


/****************** styling for modal from line 70-172 **********************/


/* The Close Button (x) */

.close {
    position: relative;
    align-self: flex-end;
    margin-top: -3px;
    margin-right: 2px;
    font-size: 40px;
    padding: 0;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


/* Full-width input fields */

.modalinputs {
    color: #000000;
    width: 100%;
    padding: 13px;
    margin: 3px 0 22px 0;
    display: inline-block;
    border: 1px;
    background-color: rgba(138, 138, 138, 0.1);
    border-radius: 15px;
}


/* Add a background color when the inputs get focus */

.modalinputs:focus {
    outline-color: #007bff;
}

.modalinputs::placeholder {
    color: rgba(0, 0, 0, 0.397);
}

#signmodalfooter {
    color: #007bff;
    margin-left: -5px;
    margin-right: 23%;
}

#signmodalfooter:hover {
    text-decoration: underline;
    border-color: transparent;
}


/* @media(max-width: 786px) {
    .modal {
        margin: 0px 10px 0px 10px;
        max-width: fit-content;
    }
} */


/*-------------------booknow----------------------*/
body {
  background: white;
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

video {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0;
  width:100%;
  height:100%;
}

#main{
  background: #454443;
  width: 65.5%;
  height: 75%;
  margin-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 20px;
  position:relative;

}

#remotevcon{
  width: 100%;
  height: 100%;
  position:relative;
}

#localvcon{
  background:#2b2b2b;
  width: 14%;
  height: 19%;
  right:0;
  bottom:0;
  position: absolute;
  border-radius: 20px;
}

.mem-name{
  padding-left: 10px;
  font-weight: bold;
  font-style: italic;
  position:absolute;
  bottom:0;
  color:white;
  font-size:1.2vw;
}

#mic{
  margin-left: 45%;
  position:absolute;
  bottom:0;
}
#video{
  margin-left: 50%;
  position:absolute;
  bottom:0;
}