.navbar {
    font-size: 18px;
    background-color: #00000057;
    padding-left: 5%;
    padding-right: 5%;
}

#nav_contents>li {
    margin-right: 15px;
}

#nav_contents>li>a {
    color: white;
}

.navbar-nav .btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-right: 10px;
}

.navbar-nav .btn:hover,
.nav-link:hover,
.signup_btn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.2s ease 0s;
}

.navbar-nav .btn:focus {
    box-shadow: none;
}

.signup_btn {
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
    transition: all 0.4s;
    cursor: pointer;
    margin: -5px;
}

.signup_btn:hover {
    color: #ffffff;
    border-color: #ffffff;
}

.signup_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    padding: 1px;
    padding-top: 2px;
    margin: 5px;
}

.signup_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 2px;
    right: -20px;
    transition: 0.5s;
}

.signup_btn:hover span {
    padding-right: 25px;
}

.signup_btn:hover span:after {
    opacity: 1;
    right: 0;
}

@media(max-width: 786px) {
    #logins>li {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 2px;
    }
    #nav_contents>li {
        margin-left: 7px;
    }
    .signin_btn {
        float: left;
        margin-left: -8.5px;
    }
}


/****************** styling for modal from line 70-172 **********************/


/* The Close Button (x) */

.close {
    position: relative;
    align-self: flex-end;
    margin-top: -3px;
    margin-right: 2px;
    font-size: 40px;
    padding: 0;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


/* Full-width input fields */

.modalinputs {
    color: #000000;
    width: 100%;
    padding: 13px;
    margin: 3px 0 22px 0;
    display: inline-block;
    border: 1px;
    background-color: rgba(138, 138, 138, 0.1);
    border-radius: 15px;
}


/* Add a background color when the inputs get focus */

.modalinputs:focus {
    outline-color: #007bff;
}

.modalinputs::placeholder {
    color: rgba(0, 0, 0, 0.397);
}

#signmodalfooter {
    color: #007bff;
    margin-left: -5px;
    margin-right: 23%;
}

#signmodalfooter:hover {
    text-decoration: underline;
    border-color: transparent;
}


/* slideshow */

.slider {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background: #000000;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 80vh;
    opacity: 0.5;
}

.navigation-manual {
    position: absolute;
    display: flex;
    margin-left: 43%;
    margin-top: -2%;
}

.manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: rgb(255, 255, 255);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

navigation-auto div {
    border: 2px #ffffff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}